/* header */

.lud-header-nav.navbar{
    background-color: #413F3C;
    color: white;
    padding: 0px;
}
.lud-header-nav li a{
    color: inherit;
}
.lud-header-nav li:not(:last-child) a:hover, .lud-header-nav li:not(:last-child) a:active {
    font-weight: 700;
}
.lud-header-nav .navbar-brand{
    padding: 0px 5px 0 5px;
}
.lud-header-nav.navbar .dropdown-menu{
    min-width: unset;
}

.home-container{
     height: 500px; 
 }
.welder-bg{
    background-image: url('../images/welderV3.jpg');
    background-size: cover;
    background-position: center;
}
.lud-self-center{
    align-self: center;
}
.lud-flex{
    display: flex;
}
.uppercase{
    text-transform: uppercase;
}
.welder-text{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.welder-container{
    background-color: #403E3B;
    opacity: 0.8;
    max-width: 850px;
    margin: 0 auto;
    padding: 10px;
}
.lud-fade-in{
    animation: lud-fadein 3s;
}
@keyframes lud-fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* About us section */
.about-container, .portfolio-container, .home-container{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
@keyframes about-pic-anim {
    from {transform: initial}
    to {transform: rotateY(360)}
}
.lud-about-pic{
    animation: about-pic-anim;
    height: 300px;
    max-width: 360px;
    margin-top: 20px;
    border-radius: 30rem;
    margin: 0 auto;
}
.lud-flip{
    transform: rotateY(180deg);
    animation-delay: 1s;
    animation-duration: 2s;
    animation-direction: normal;
}
/* Contact section */
.lud-map-container{
    padding: 0.7rem 0 0 2rem;
}
.lud-map{
    height: 435px;
    width: 100%;
    min-width:200px;
    min-height:400px;
}
.contact-container{
    background-color: rgba(13, 27, 42, 1);
    padding-bottom: 20px;
}
.lud-padder-top{
    padding-top: 1.5rem;
}
.lud-adress{
    padding-top: 0.2rem;
}
.lud-sections{
    position: relative;
}
.lud-anchors{
    position: relative;
    margin-top: -50px;
    margin-bottom: 50px;
}
.lud-full-width{
    width: 100%;
}
.navbar-brand-img{
    border-radius: 10rem
}